extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let dogID = toShow._id
    - let dogType = toShow.dogType
    - let price = toShow.price
    - let color = toShow.color

    - let actionid = "/resource/dogs/" + dogID
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') dog ID is:
        div #{dogID}
      div.row
        div(class='costumeAttr mr-3') dog Type is:
        div #{dogType}
      div.row
        div(class='costumeAttr mr-3') dog Price is:
        div #{price}
      div.row
        div(class='costumeAttr mr-3') dog Color is:
        div #{color}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/dogs'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/dogs'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }